<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Draft Prospects</h1>
</div>

<div class="text-center">
  <form class="form-inline" (ngSubmit)="onSubmit()">
    <label class="sr-only" for="lastNameFilter">Last name</label>
    <input type="text"
           class="form-control mb-2 mr-sm-2"
           id="lastNameFilter"
           name="lastNameFilter"
           placeholder="Last name"
           [(ngModel)]="lastNameFilter">
    <label class="sr-only" for="positionFilter">Position</label>
    <input type="text"
           class="form-control mb-2 mr-sm-2"
           id="positionFilter"
           name="lastNameFilter"
           placeholder="Position"
           [(ngModel)]="positionFilter">
    <button type="submit"
            class="btn btn-primary mb-2 mr-sm-2">Filter</button>
    <button type="button"
            class="btn btn-secondary mb-2 mr-sm-2"
            (click)="onClickClearFilter()">Clear filter</button>
  </form>
</div>

<div class="">
  <table class="table table-bordered table-striped table-hover table-light">
    <thead class="thead-dark">
      <tr>
        <th class="text-left">Name</th>
        <th class="text-left">Position</th>
        <th class="text-center">Height</th>
        <th class="text-center">Weight</th>
        <th class="text-left">College</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prospect of prospects$ | async">
        <td class="text-left">{{ prospect.LastName }}, {{ prospect.FirstName }}</td>
        <td class="text-left">{{ prospect.Position }}</td>
        <td class="text-center">{{ prospect.HeightInMeters | heightConversion }}</td>
        <td class="text-center">{{ prospect.WeightInKilograms | weightConversion }}</td>
        <td class="text-left">{{ prospect.College }}</td>
      </tr>
    </tbody>
  </table>
</div>
