<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Draft Prospects</h1>
</div>

<div class="">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-left">Name</th>
        <th class="text-left">Position</th>
        <th class="text-left">College</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prospect of prospects$ | async">
        <td class="text-left">{{ prospect.LastName }}, {{ prospect.FirstName }}</td>
        <td class="text-left">{{ prospect.Position }}</td>
        <td class="text-left">{{ prospect.College }}</td>
      </tr>
    </tbody>
  </table>
</div>
