<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">NFL Draft Machine</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/" routerLinkActive="active">Home</a>
    <a class="p-2 text-dark" routerLink="/draftProspects" routerLinkActive="active">Prospects</a>
    <a class="p-2 text-dark" routerLink="/mockDrafts" routerLinkActive="active">Mock Drafts</a>
    <a class="p-2 text-dark" routerLink="/draftTracker" routerLinkActive="active">Draft Tracker</a>
  </nav>
  <!--<a class="btn btn-outline-primary" href="#">Sign in</a>-->
  <!--<a class="btn btn-outline-secondary ml-1" href="#">Sign up</a>-->
</div>
